<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>차량 목록</title>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script>
		$(function () {
			init();
		})

		function init() {
			$.ajax({
				url: 'list',
				method: 'GET',
				success: output
			})
		}

		function output(resp) {

			let tag = `
				<table>
					<tr>
					<th>번호</th>
					<th>차종</th>
					<th>상태</th>
					</tr>
            `;

			$.each(resp, function (index, item) {
				let button =
					item["carStatus"] === true
						? `<input type="button" value="예약 중" disabled>`
						: `<input type="button" class="reservation" value="예약 가능" data-carseq="${item.carSeq}">`;
				tag += `
					<tr>
						<td>${item.carSeq}</td>
						<td>${item.carType}</td>
						<td>${button}</td>
					</tr>	
				`;
			})

			tag += `</table>`;

			$('#result').html(tag);
			$('.reservation').on('click', reservation);
		}

		function reservation() {
			let carSeq = $(this).attr("data-carseq");
			$.ajax({
				url: "/car/reservated",
				method: 'POST',
				data: { "carSeq": carSeq },
				success: function (resp) {
					if (resp.success) {
						window.location.href = "/order/orderList";
					} else {
						alert("예약에 실패했습니다.");
						init();
					}
				}
			})
		}

	</script>
</head>

<body>
	<div>
		<a th:href="@{/}">
			<img th:src="@{/images/car.png}" alt="car" />
		</a>
		<h2>[ 차량목록 ]</h2>
	</div>

	<div id="result">
	</div>
	<div>
		<a th:href="@{/order/orderList}">내 예약/반납 정보</a>
	</div>
</body>

</html>