<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보 수정</title>
    <style>
        div.top{
            display: flex;
        }
        label{
            margin-top: 10px;
        }
        input{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="top">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="Home">
        </a>
        <h2>[ 회원 가입 ]</h2>
    </div>
    
    <div>
        <form th:action="@{/fitness/update}" method="POST">
        <input type="hidden" name="id" th:value="${fitness.id}">
        <input type="hidden" name="joinDate" th:value="${fitness.joinDate}">
            <label> 이름 : 
                <input type="text" name="name" th:value="${fitness.name}">
            </label><br>
            <label> 성별 : 
                <input type="radio" name="gender" value="1" th:checked = "${fitness.gender} == true ">남
                <input type="radio" name="gender" value="0" th:checked = "${fitness.gender} != true ">여
            </label><br>
            <label> 키(cm) : 
                <input type="text" name="height" th:value="${fitness.height}">
            </label><br>
            <label> 몸무게(kg) : 
                <input type="text" name="weight" th:value="${fitness.weight}">
            </label><br>
            <input type="submit" value="수정">
        </form>
    </div>
</body>
</html>