/* *********************************************
*              상단 로고 적용
********************************************* */
div.container {
    width: 1000px;
    height: auto;
    margin: 30px auto;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    padding-left: 20px;
}